@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Common styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

button{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 28px;
    border: none;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .header-description h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 531px;
}

.header-description *{
    padding-bottom: 32px;
}

.banner .header-img img{
    width: 635px;
    height: 800px;
    vertical-align: middle;
}

.section1{
    margin-top: 178px;
    text-align: center;
    width: 100%;
}

.section1-heading h3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section1 .section1-p p{
    padding-top: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.section2{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #E55473;
}

.section2 .section2-img img{
    border-radius: 20px;
    vertical-align: middle;
    background-color: #E55473;
}